@tailwind base;
@tailwind components;
@tailwind utilities;W

html {
  scroll-behavior: smooth;
}

@keyframes slideDown {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-slideDown {
  animation: slideDown .2s ease-out;
}

@layer base {
  html {
    scroll-behavior: smooth;
  } 
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #1a1a1a inset !important; /* match your bg color */
    -webkit-text-fill-color: #ffffff !important; /* match your text color */
    transition: background-color 9999s ease-in-out 0s;
  }
}

@layer utilities {
  .title {
    @apply text-3xl md:text-4xl lg:text-5xl;
  }

  .subtitle {
    @apply text-sm md:text-base lg:text-lg;
  }
}